# Version Tracking Ignore Rules for Git VCS
# https://git-scm.com/docs/gitignore
#
# Exclude files not suitable for version tracking in Git
#
# This file is based on The Common .gitignore Templates
# https://github.com/Lin-Buo-Ren/common-gitignore
#
# Copyright 2021 林博仁(Buo-ren, Lin) <Buo.Ren.Lin@gmail.com>
# SPDX-License-Identifier: CC-BY-SA-4.0

# Don't track regular Unix hidden files
.*

# Do track Git configuration files
!.git*

# Do track EditorConfig configuration files
# https://editorconfig.org/
!.editorconfig

# Do track pre-commit configuration files
# https://pre-commit.com/
!.pre-commit-config.yaml

# Do track Markdownlint configuration files
# https://github.com/DavidAnson/markdownlint
!.markdownlint.*

# Do track Drone CI configuration files
# https://docs.drone.io/
!.drone.yml

# Do track REUSE configuration files
# https://reuse.software/
!.reuse/

# Don't track common backup filename extensions
*~
*.bak*
*.backup*
*.bk*
*.old*
*.orig*

## Don't track common archive files
*.7z
*.bz2
*.gz
*.tar*
*.xz
*.zip

# Don't track binary image files
*.bmp
*.jpg
*.png

# Don't track common export formats from Markdown
*.doc?
*.htm?
*.pdf

# Don't track common program output logs
*.err
*.error
*.log
*.out
*.output

# Don't track compiled Python code caches
*.pyc

# Don't track Vagrant runtime directories
.vagrant/

# Don't track GNU gettext message catalog template
*.pot

# Don't track GNU gettext machine-readable message catalogs
*.mo

# Ignore automatically-generated files during the bootstrap process
/aclocal.m4
/compile
/config.h.in
/configure
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/po/Makevars.template
/test-driver

# Ignore automatically-generated files during the configure process
/config.h
/config.status
/libtool
Makefile
Makefile.in
/po/POTFILES
/stamp-h1

# Ignore automatically-generated files during the build process
/autom4te.cache/
/doc/iscan-registry.8
/doc/iscan.1
/doc/sane-epkowa.5
/frontend/iscan
/utils/iscan-registry
*.la
*.lo
*.o

# Ignore build dependency packages generated by mk-build-deps(1)
/iscan-build-deps_*

# Ignore failed applied patch hunks
*.rej
